<div class="section-below-navbar" style="margin-top: 3rem; margin-left: 3rem;">
  <div>
    <h2>Resumo dos Usuários</h2>
    <p>Quantidade total de usuários cadastrados: <b> {{ totalUsers }} </b></p>
    <h3>Quantidade de usuários por função</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Função</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of getUserRolesArray()">
        <td>{{ role[0] }}</td>
        <td>{{ role[1] }}</td>
      </tr>
    </tbody>
  </table>
</div>