.navbar {
    background-color: #f8f9fa; 
    padding: 10px; 
  }
  
  .navbar-brand {
    color: #343a40; 
    font-weight: bold; 
  }
  
  .navbar-nav {
    margin-left: auto; 
  }
  
  .nav-link {
    color: #343a40; 
  }
  
  .nav-link.active {
    font-weight: bold; 
  }
  
  .btn-outline-danger {
    color: #dc3545; 
    border-color: #dc3545; 
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545; 
    color: #fff; 
  }